<launch>
  <param name="use_sim_time" value="true"/>
  <node name="slam_gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <param name="map_update_interval" value="5.0" />
    <param name="maxUrange" value="10.0"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelsize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.1"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.1"/>
    <param name="srt" value="0.1"/>
    <param name="str" value="0.1"/>
    <param name="stt" value="0.2"/>
  </node>
</launch>

